# Packrat Files
/packrat
packrat/lib*/
.Rproj.user

# Data files
/data
/apps/covid_app_ppol/data
*.csv
*.metadata
*.dbf
*.prj
*.shx
*.shp
*.dta

# Web pages
*.json
*.css
*.js

# Images
*.png
*.jpg
*.gif
*.jpeg
*.pdf

# Presentations
*.pptx

# Text
*.doc
*.docx
*.txt

# Compressed files
*.zip
